{% extends 'base_2.html' %}

{% block head %}
<title>Edit SPS</title>
{% endblock %}

{% block body %}

<h1><font face="Times New Roman" size="7pt" color="purple">
    <center>Editing Deal Dates</center>
</font></h1>


<hr>
<br>

<form action='/deals/edit_dates/{{info.LR_ID}}>' method='POST'>
    {% for x in info %}
    <div class="form-group w-25">
        <br>
        <label for="LR_ID"><font face="Times New Roman" size="4pt" color="purple">Deal ID:</font></label>
        <input class="form-control" type="text" name='LR_ID' id='LR_ID' value="{{x.LR_ID}}" readonly aria-label="Enter SPS_ID">
        <br>
        <label for="LR_Deal"><font face="Times New Roman" size="4pt" color="purple" size="5pt">LR Deal</i></font></label>
        <input class="form-control" type="text" name='LR_Deal' id='LR_Deal' readonly value="{{x.LR_Deal}}" >
        <br>
        <label for="O_start_date"><font face="Times New Roman" size="4pt" color="purple" size="5pt">O Build start date</i></font></label>
        <input class="form-control" type="date" name='O_start_date' id='O_start_date'  value = "{{x.O_start_date}}" >
        <br>
        <label for="O_end_date"><font face="Times New Roman" size="4pt" color="purple" size="5pt">O Build end date</i></font></label>
        <input class="form-control" type="date" name='O_end_date' id='O_end_date' value = "{{x.O_end_date}}"  >
        <br>
        <label for="Dealer_mail_date"><font face="Times New Roman" size="4pt" color="purple" size="5pt">Dealer Mail date</i></font></label>
        <input class="form-control" type="date" name='Dealer_mail_date' id='Dealer_mail_date' value = "{{x.Dealer_mail_date}}" >
        <br>
		<label for="MERCH_RELEASE"><font face="Times New Roman" size="4pt" color="purple" size="5pt">Merch Release date</i></font></label>
        <input class="form-control" type="date" name='MERCH_RELEASE' id='MERCH_RELEASE' value = "{{x.MERCH_RELEASE}}" >
        <br>
        <label for="Target_store_setup"><font face="Times New Roman" size="4pt" color="purple" size="5pt">Target Store setup</i></font></label>
        <input class="form-control" type="date" name='Target_store_setup' id='Target_store_setup' value = "{{x.Target_store_setup}}" >
        <br>
        <input type='submit' class="btn btn-primary" value='Submit Dates'>
    </div>
{% endfor %}
</form>
{% endblock %}