{% extends 'base_2.html' %}

{% block head %}
<title>Holiday Calendar</title>
{% endblock %}


{% block body %}

<div>
    <br>
    <center><h1 style="display:inline"><font face="Times New Roman" color="purple">Miscellaneous deals</font></h1>

    </center>

</div>
<style>

table {
  color: #333;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 11pt;
  width: 640px;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0;
}

td, th {  border: 0 none; height: 30px; }

th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
}

td { background: #FAFAFA; text-align: center; }

/* Zebra Stripe Rows */

tr:nth-child(even) td { background: #EEE; }
tr:nth-child(odd) td { background: #FDFDFD; }



</style>
</head>
<body>

<hr>
<table style="width:125%">
    <tr>
        {% for col in cols %}
        <th style="text-align:center">{{col | replace("_", " ")}}</th>
        {% endfor %}
        <th style="text-align:center">Edit</th>
    </tr>

    {% for test in tests %}
    <tr>
        {% for col in cols %}
        <td>{{test[col]}}</td>
        {% endfor %}
        <td><a class = "btn btn-primary" href ='/misc/edit/{{test.DEAL}}/{{test.TASK}}/{{test.DESC}}/{{test.Id}}'>Modify</a><a class = "btn btn-danger" href ='/misc/delete/{{test.DEAL}}/{{test.TASK}}/{{test.DESC}}/{{test.Id}}'>Delete</a></td>
    </tr>
    {% endfor %}
</table>
<hr>
{% endblock %}